<ion-header>
  <ion-toolbar color="winners-red">
    <ion-text>
      <div class="ion-text-wrap ion-text-end ion-paddings">
        WINNERS CHAPEL INT'L <br> NEW YORK
      </div>
    </ion-text>
    <ion-buttons slot="start" style="flex-flow: column">
      <ion-menu-button></ion-menu-button>
      <ion-back-button text="Back" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <img src="assets/img/logo22.png" alt="" slot="end" width="70vw" class="ion-padding-vertical ion-padding-end">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="light">
    <div class="ion-text-left">
      <h5 style="font-weight: bold">FEEDBACK FORM</h5>
    </div>
  </ion-item>
  <ion-list class="remove-top">
<!--    <img class="middlelogo" src="assets/img/prayer.jpg" alt="">-->
    <form [formGroup]="feedbackForm">
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" >First Name:</ion-label>
            <ion-input formControlName="firstname" type="text" [class.invalid]="!feedbackForm.controls.firstname.valid && (feedbackForm.controls.firstname.dirty || submitAttempt)"></ion-input>
          </ion-item>
          <ion-item *ngIf="!feedbackForm.controls.firstname.valid  && (feedbackForm.controls.firstname.dirty || submitAttempt)">
            <p>Please enter your first name.</p>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" >Last Name:</ion-label>
            <ion-input formControlName="lastname" type="text" [class.invalid]="!feedbackForm.controls.lastname.valid && (feedbackForm.controls.lastname.dirty || submitAttempt)"></ion-input>
          </ion-item>
          <ion-item *ngIf="!feedbackForm.controls.lastname.valid  && (feedbackForm.controls.lastname.dirty || submitAttempt)">
            <p>Please enter your last name.</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Email:</ion-label>
            <ion-input formControlName="email" type="email" [class.invalid]="!feedbackForm.controls.email.valid && (feedbackForm.controls.email.dirty || submitAttempt)"></ion-input>
          </ion-item>
          <ion-item *ngIf="!feedbackForm.controls.email.valid  && (feedbackForm.controls.email.dirty || submitAttempt)">
            <p>Please enter a valid email address.</p>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" >Phone:</ion-label>
            <ion-input formControlName="phone" [brmasker]="{mask: '(000)-000-0000', type:'num', len:14}" type="tel" [class.invalid]="!feedbackForm.controls.phone.valid && (feedbackForm.controls.phone.dirty || submitAttempt)"></ion-input>
          </ion-item>
          <ion-item *ngIf="!feedbackForm.controls.phone.valid  && (feedbackForm.controls.phone.dirty || submitAttempt)">
            <p>Please enter your phone number.</p>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label position="stacked" >Subject:</ion-label>
        <ion-input formControlName="subject" type="text" [class.invalid]="!feedbackForm.controls.lastname.valid && (feedbackForm.controls.lastname.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!feedbackForm.controls.subject.valid  && (feedbackForm.controls.subject.dirty || submitAttempt)">
        <p>Please enter subject.</p>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Message:</ion-label>
        <ion-textarea autoGrow="true" formControlName="message" [class.invalid]="!feedbackForm.controls.message.valid && (feedbackForm.controls.message.dirty || submitAttempt)"></ion-textarea>
      </ion-item>
      <ion-item *ngIf="!feedbackForm.controls.message.valid  && (feedbackForm.controls.message.dirty || submitAttempt)">
        <p>Please enter your feedback message.</p>
      </ion-item>
      <ion-row>
        <ion-col size="6">
          <section>
            <ion-button color="winners-red" expand="block" slot="start" (click)="save()">
              Submit
            </ion-button>
          </section>
        </ion-col>
        <ion-col size="6">
          <section>
            <ion-button color="light" expand="block" slot="start" [routerLink]="['','tabs','contacts']" routerDirection="back">
              Cancel
            </ion-button>
          </section>
        </ion-col>
      </ion-row>

    </form>
  </ion-list>

</ion-content>
