<ion-header>
  <ion-toolbar color="winners-red">
    <ion-text>
      <div class="ion-text-wrap ion-text-end ion-paddings">
        WINNERS CHAPEL INT'L <br> NEW YORK
      </div>
    </ion-text>
    <ion-buttons slot="start" style="flex-flow: column">
      <ion-menu-button></ion-menu-button>
      <ion-back-button text="Back" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <img src="assets/img/logo22.png" alt="" slot="end" width="70vw" class="ion-padding-vertical ion-padding-end">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item hidden>
    <ion-input readonly [(ngModel)]="selectedDate"></ion-input>
  </ion-item>
  <img class="middlelogo" src="assets/img/hr_of_prayer4.jpg" alt="">
  <ion-row>
    <ion-col size="12">
      <ion-button shape="round" expand="block" size="small" color="light" href="tel:4255857561">
        <ion-icon slot="start" name="call-outline"></ion-icon>Call Prayer Line
      </ion-button>
    </ion-col>
  </ion-row>
    <ion-button color="light" expand="full" (click)="openDatePicker()">
      Select Date
      <ion-icon name="calendar" class="ion-padding"></ion-icon>
      {{selectedDate}}
    </ion-button>
  <section>
  </section>

  <!--        <img class="middlelogo" src="assets/img/Events.png" alt=""> {{item.images.imageMedium}}-->
  <div *ngIf="showEvent">
    <ion-list class="remove-top" *ngFor="let item of itemList">
<!--      <div>-->
<!--        <img src="{{item.images.imageMedium}}" alt="{{item.title}}">-->
<!--      </div>-->
      <ion-item class="ion-padding">
        <ion-label>
          <ion-text color="dark">
            <h2 class="ion-padding-bottom"><b>Topic: {{item.title}}</b></h2>
          </ion-text>
          <h2 class="ion-padding-bottom">Verse: {{item.bible_verse}}</h2>
          <h2>{{item.content}}</h2>
        </ion-label>
      </ion-item>
      <section>
        <ion-button color="winners-red" expand="block" (click)="shareUs(item)">
          Share
          <ion-icon name="share" slot="end"></ion-icon></ion-button>
      </section>

    </ion-list>
  </div>
  <ion-item *ngIf="!showEvent"  >
    <h3 style="text-align:center;">There are no events to show</h3>
  </ion-item>
</ion-content>
