<ion-header>
  <ion-toolbar color="winners-red">
    <ion-text>
      <div class="ion-text-wrap ion-text-end ion-paddings">
        WINNERS CHAPEL INT'L <br> NEW YORK
      </div>
    </ion-text>
    <ion-buttons slot="start" style="flex-flow: column">
      <ion-menu-button></ion-menu-button>
      <ion-back-button text="Back" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <img src="assets/img/logo22.png" alt="" slot="end" width="70vw" class="ion-padding-vertical ion-padding-end">
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--  <div id="mapcanvas"></div>-->
<!--  <div class="map-wrapper">
    <div id="map_center">
      <img src="assets/img/location_marker.png" alt="marker" />
    </div>
    <div #map id="map"></div>
  </div>
  Sunday Worship Service
First Service 9.00am
Second Service 11.15am

Mid Week Communion Service
Every Wednesday 7.00pm

Daily Covenant Hour of Prayer
Every Morning 6.00am

  -->
  <ion-item color="light">
    <div class="ion-text-left">
      <h5 style="font-weight: bold">SERVICE SCHEDULE</h5>
    </div>
  </ion-item>
  <ion-item>
    <div class="ion-padding">
      <ion-text style="font-weight: bold"><p>Sunday Worship Service</p></ion-text>
      <ion-text>First Service : 9.00am</ion-text>
      <p >Second Service : 11:15am</p>
    </div>
  </ion-item>
  <ion-item>
    <div class="ion-padding">
      <ion-text style="font-weight: bold"><p>Mid Week Communion Service</p></ion-text>
      <ion-text>Every Wednesday 7.00pm</ion-text>
    </div>
  </ion-item>
  <ion-item>
    <div class="ion-padding">
      <ion-text style="font-weight: bold"><p>Daily Covenant Hour of Prayer</p></ion-text>
      <ion-text>Every Morning 6:00am</ion-text>
    </div>
  </ion-item>
</ion-content>
