<ion-header>
    <ion-toolbar color="winners-red">
        <ion-text>
            <div class="ion-text-wrap ion-text-end ion-paddings">
                WINNERS CHAPEL INT'L <br> NEW YORK
            </div>
        </ion-text>
        <ion-buttons slot="start" style="flex-flow: column">
            <ion-menu-button></ion-menu-button>
            <ion-back-button text="Back" icon="caret-back"></ion-back-button>
        </ion-buttons>
        <img src="assets/img/logo22.png" alt="" slot="end" width="70vw" class="ion-padding-vertical ion-padding-end">
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item color="light">
        <div class="ion-text-left">
            <h5 style="font-weight: bold">WINNERS CARE PROGRAM</h5>
        </div>
    </ion-item>
    <ion-list>
        <form [formGroup]="wincareForm">
                <ion-row>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label position="floating" color="primary">First Name:</ion-label>
                            <ion-input formControlName="Fname" type="text"
                                       [class.invalid]="!wincareForm.controls.Fname.valid && (wincareForm.controls.Fname.dirty || submitAttempt)"></ion-input>
                        </ion-item>
                        <ion-item
                                *ngIf="!wincareForm.controls.Fname.valid  && (wincareForm.controls.Fname.dirty || submitAttempt)">
                            <p>Please enter a valid name.</p>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label position="floating" color="primary">Last Name:</ion-label>
                            <ion-input formControlName="Lname" type="text"
                                       [class.invalid]="!wincareForm.controls.Lname.valid && (wincareForm.controls.Lname.dirty || submitAttempt)"></ion-input>
                        </ion-item>
                        <ion-item
                                *ngIf="!wincareForm.controls.Lname.valid  && (wincareForm.controls.Lname.dirty || submitAttempt)">
                            <p>Please enter a valid name.</p>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label position="floating" color="primary">Telephone:</ion-label>
                            <ion-input formControlName="Phone" type="tel"
                                       [brmasker]="{mask: '(000)-000-0000', type:'num', len:14}"
                                       [class.invalid]="!wincareForm.controls.Phone.valid && (wincareForm.controls.Phone.dirty || submitAttempt)"></ion-input>
                        </ion-item>
                        <ion-item
                                *ngIf="!wincareForm.controls.Phone.valid  && (wincareForm.controls.Phone.dirty || submitAttempt)">
                            <p>Please enter a valid phone number.</p>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label position="floating" color="primary">Email:</ion-label>
                            <ion-input formControlName="Email" type="email"
                                       [class.invalid]="!wincareForm.controls.Email.valid && (wincareForm.controls.Email.dirty || submitAttempt)"></ion-input>
                        </ion-item>
                        <ion-item
                                *ngIf="!wincareForm.controls.Email.valid  && (wincareForm.controls.Email.dirty || submitAttempt)">
                            <p>Please enter a valid email address.</p>
                        </ion-item>
                    </ion-col>
                </ion-row>


                <ion-item>
                    <ion-label position="floating" color="primary">Address:</ion-label>
                    <ion-input formControlName="Address" type="text"
                               [class.invalid]="!wincareForm.controls.Address.valid && (wincareForm.controls.Address.dirty || submitAttempt)"></ion-input>
                </ion-item>
                <ion-item
                        *ngIf="!wincareForm.controls.Address.valid  && (wincareForm.controls.Address.dirty || submitAttempt)">
                    <p>Please enter a valid address.</p>
                </ion-item>
                <ion-row>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label position="floating" color="primary">City:</ion-label>
                            <ion-input formControlName="City" type="text"
                                       [class.invalid]="!wincareForm.controls.City.valid && (wincareForm.controls.City.dirty || submitAttempt)"></ion-input>
                        </ion-item>
                        <ion-item
                                *ngIf="!wincareForm.controls.City.valid  && (wincareForm.controls.City.dirty || submitAttempt)">
                            <p>Please enter a valid city.</p>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label position="floating" color="primary">State:</ion-label>
                            <ion-input formControlName="State" type="text"
                                       [class.invalid]="!wincareForm.controls.State.valid && (wincareForm.controls.State.dirty || submitAttempt)"></ion-input>
                        </ion-item>
                        <ion-item
                                *ngIf="!wincareForm.controls.State.valid  && (wincareForm.controls.State.dirty || submitAttempt)">
                            <p>Please enter a valid state / province.</p>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label position="floating" color="primary">Zip code:</ion-label>
                            <ion-input formControlName="Zip" type="text"
                                       [class.invalid]="!wincareForm.controls.Zip.valid && (wincareForm.controls.Zip.dirty || submitAttempt)"></ion-input>
                        </ion-item>
                        <ion-item
                                *ngIf="!wincareForm.controls.Zip.valid  && (wincareForm.controls.Zip.dirty || submitAttempt)">
                            <p>Please enter a valid zip code.</p>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label position="floating" color="primary">Country:</ion-label>
                            <ion-input formControlName="Country" type="text"
                                       [class.invalid]="!wincareForm.controls.Country.valid && (wincareForm.controls.Country.dirty || submitAttempt)"></ion-input>
                        </ion-item>
                        <ion-item
                                *ngIf="!wincareForm.controls.Country.valid  && (wincareForm.controls.Country.dirty || submitAttempt)">
                            <p>Please enter a country.</p>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label position="stacked" color="primary" class="ion-text-wrap"
                                       style="margin-bottom: 10px">Member?
                            </ion-label>
                            <ion-select formControlName="Member" interface="action-sheet">
                                <ion-select-option value="Yes">Yes</ion-select-option>
                                <ion-select-option value="No">No</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item
                                *ngIf="!wincareForm.controls.Member.valid  && (wincareForm.controls.Member.dirty || submitAttempt)">
                            <p>Please select an option.</p>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item>
                            <ion-label position="stacked" color="primary" class="ion-text-wrap"
                                       style="margin-bottom: 10px">Gender
                            </ion-label>
                            <ion-select formControlName="Gender" interface="action-sheet">
                                <ion-select-option value="Male">Male</ion-select-option>
                                <ion-select-option value="Female">Female</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item
                                *ngIf="!wincareForm.controls.Gender.valid  && (wincareForm.controls.Gender.dirty || submitAttempt)">
                            <p>Please select an option.</p>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-item>
                    <ion-label position="stacked" color="primary" class="ion-text-wrap" style="margin-bottom: 10px">
                        Situation
                    </ion-label>
                    <ion-select formControlName="Situation" interface="action-sheet" multiple="true">
                        <ion-select-option value="Widower">Widow(er)</ion-select-option>
                        <ion-select-option value="Senior Citizen (65yrs and above)">Senior Citizen (65yrs and above)
                        </ion-select-option>
                        <ion-select-option value="Single Parent">Single Parent</ion-select-option>
                        <ion-select-option value="Student Visa">Student Visa</ion-select-option>
                        <ion-select-option value="Low Income">Low Income</ion-select-option>
                        <ion-select-option value="Unemployment">Unemployment</ion-select-option>
                        <ion-select-option value="Undocumented">Undocumented</ion-select-option>
                        <ion-select-option value="Other">Other</ion-select-option>

                    </ion-select>
                </ion-item>
                <ion-item
                        *ngIf="!wincareForm.controls.Situation.valid  && (wincareForm.controls.Situation.dirty || submitAttempt)">
                    <p>Please select one or more option(s).</p>
                </ion-item>
                <section>
                    <ion-button color="winners-red" expand="block" slot="start" (click)="save()">
                        Submit
                    </ion-button>
                </section>
        </form>
    </ion-list>
</ion-content>
