iframe{
  overflow:hidden;
  border: none;
}
.centerme {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.center-radio {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  padding-bottom: 100%;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
