<ion-header>
  <ion-toolbar color="winners-red">
    <ion-text>
      <div class="ion-text-wrap ion-text-end ion-paddings">
        WINNERS CHAPEL INT'L <br> NEW YORK
      </div>
    </ion-text>
    <ion-buttons slot="start" style="flex-flow: column">
      <ion-menu-button></ion-menu-button>
      <ion-back-button text="Back" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <img src="assets/img/logo22.png" alt="" slot="end" width="70vw" class="ion-padding-vertical ion-padding-end">
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--  <div id="mapcanvas"></div>-->
  <!--  <div class="map-wrapper">

 :
:

 | Every Saturday 6.00pm - 7.00pm


    -->
  <ion-item color="light">
    <div class="ion-text-left">
      <h5 style="font-weight: bold">WSF Teleconference Directory</h5>
    </div>
  </ion-item>
  <ion-item>
    <div class="ion-padding">
      <ion-text style="font-weight: bold"><p>Queens</p></ion-text>
      <ion-text>351 999-4823 (Jamaica Far Rockaway)</ion-text>
    </div>
  </ion-item>
  <ion-item>
    <div class="ion-padding">
      <ion-text style="font-weight: bold"><p>Brooklyn/Staten Island</p></ion-text>
      <ion-text>701 779-9860 (Coney Island Flatbush)</ion-text>
    </div>
  </ion-item>
  <ion-item>
    <div class="ion-padding">
      <ion-text style="font-weight: bold"><p>The Bronx/Manhattan</p></ion-text>
      <ion-text>760 548-9407 (Harlem Yonkers)</ion-text>
    </div>
  </ion-item>
  <ion-item>
    <div class="ion-padding">
      <ion-text style="font-weight: bold"><p>Long Island</p></ion-text>
      <ion-text>339 207-7489 (Nassau Suffolk)</ion-text>
    </div>
  </ion-item>
  <ion-item>
    <div class="ion-padding">
      <ion-text>Members Who are not currently part of a home cell should call the teleconference number for their Borough to join the WSF meeting | Every Saturday 6.00pm - 7.00pm</ion-text>
    </div>
  </ion-item>
</ion-content>
