/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.scroll-content {
  padding-bottom: 0 !important;
}


.icon-row {
  -webkit-align-items: center;
}
/*Metro Styling*/
.font-blue,       .font-blue-link a         {color: #2d89ef;}
.font-blueLight,  .font-blueLight-link a    {color: #eff4ff;}
.font-blueDark,   .font-blueDark-link a     {color: #2b5797;}
.font-green,      .font-green-link a        {color: #00a300;}
.font-greenLight, .font-greenLight-link a   {color: #99b433;}
.font-greenDark,  .font-greenDark-link a    {color: #1e7145;}
.font-red,        .font-red-link a          {color: #b91d47;}
.font-yellow,     .font-yellow-link a       {color: #ffc40d;}
.font-orange,     .font-orange-link a       {color: #e3a21a;}
.font-orangeDark, .font-orangeDark-link a   {color: #da532c;}
.font-pink,       .font-pink-link a         {color: #9f00a7;}
.font-pinkDark,   .font-pinkDark-link a     {color: #7e3878;}
.font-purple,     .font-purple-link a       {color: #603cba;}
.font-darken,     .font-darken-link a       {color: #1d1d1d;}
.font-lighten,    .font-lighten-link a      {color: #d5e7ec;}
.font-white,      .font-white-link a        {color: #ffffff;}
.font-grayDark,   .font-grayDark-link a     {color: #525252;}
.bg-blue       {background-color: #2d89ef;}
.bg-blueLight  {background-color: #eff4ff;}
.bg-blueDark   {background-color: #2b5797;}
.bg-green      {background-color: #00a300;}
.bg-greenLight {background-color: #99b433;}
.bg-greenDark  {background-color: #1e7145;}
.bg-red        {background-color: #b91d47;}
.bg-yellow     {background-color: #ffc40d;}
.bg-orange     {background-color: #e3a21a;}
.bg-orangeDark {background-color: #da532c;}
.bg-pink       {background-color: #9f00a7;}
.bg-pinkDark   {background-color: #7e3878;}
.bg-purple     {background-color: #603cba;}
.bg-darken     {background-color: #1d1d1d;}
.bg-lighten    {background-color: #d5e7ec;}
.bg-white      {background-color: #ffffff;}
.bg-facebook   {background-color: #3b5998;}
.bg-twitter    {background-color: #00acee;}
.bg-instagram     {background-color: #E1306C;}
.bg-grayDark   {background-color: #525252;}

/*background Images*/
.bg-shiloh {
  background-image: url('./assets/img/dominion.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
.li-ionic4-datePicker {
  .modal-wrapper {
    --ion-color-primary: #FA3129; // This Variable used for the change of colour ion-datepicker only.
    --ion-color-primary-tint: rgb(250,49,41); // This Variable changes the tint colour of background when click button.
    ion-button {
      --ion-color-primary: #FA3129; // This Variable used for the change colour of buttons only.
      --ion-color-primary-tint: #fb463e; // This Variable changes the tint color of background when click buttons.
      --border-radious: 0px; // This Variable changes the border radious of buttons.
      // button customization css write here...
    }
  }
}

.center-me {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.remove-top{
  padding-top: 0px;
}

.bg-live {
  background-image: url('./assets/img/Livestream.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg-wsf {
  background-image: url('./assets/img/wsf.png'); //hr_of_prayer4
  background-repeat: no-repeat;
  background-size: 100%;
}
.bg-prayer {
  background-image: url('./assets/img/covenant_hour.jpg'); //hr_of_prayer4
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg-below {
  background-image: url('./assets/img/connect 2.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

/*Grid Styling*/
.larger {
  font-size: 20vw !important;
  height: inherit !important;
  text-align: center;
  color: white;
  display: block;
  position: relative;
  top: 50%;
}

.largess {
  font-size: 4vw !important;
  height: inherit !important;
  text-align: center;
  color: black;
  display: block;
  position: relative;
  top: 15%;
}

.large {
  font-size: 10vw !important;
  height: auto !important;
  text-align: center;
  display: inline-block;
  color: white;
  clear: both;
  white-space:nowrap
}
.flexRow{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.flexCol{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}
.flexItem{
  flex: 0.5;
  width: 22vw;
  height: 16vh;
  margin: 1vw;
}
.small-pad-left{
  padding-left: 4px;
}
.small-pad-right{
  padding-right: 4px;
}
.small-pad-top{
  padding-top: 4px;
}
.small-pad-bottom{
  padding-bottom: 4px;
}
.flexItemBig{
  flex: 1;
  width: 48vw;
  height: 18vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  //border-radius: 11px;
}

.flexItemWide{
  flex: 1;
  height: 20vh;
}
.flexItemWidth{
  flex: 1;
  width: 98vw;
}

a>h4{
  margin-top: -2px;
  font-size: 1.6rem;
}

a>h6{
  margin-top: -1px;
  font-family: "Kozuka Gothic Pr6N B", serif;
  font-size: 1.6rem;
}

scroll-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.long-title {
  //font-size: 1.0em;
  text-align: right;
  padding-left: 4vw;
  padding-right: 4vw;
}

ion-grid {
  padding: 0;
  height: 100%;
}
@media all and (orientation:landscape){
  ion-row {
    flex: 1;
  }
}

