<ion-header>
  <ion-toolbar color="winners-red">
    <ion-text>
      <div class="ion-text-wrap ion-text-end ion-paddings">
        WINNERS CHAPEL INT'L <br> NEW YORK
      </div>
    </ion-text>
    <ion-buttons slot="start" style="flex-flow: column">
      <ion-menu-button></ion-menu-button>
      <ion-back-button text="Back" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <img src="assets/img/logo22.png" alt="" slot="end" width="70vw" class="ion-padding-vertical ion-padding-end">
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngFor="let post of posts">
    <ion-card>
      <ion-img src="{{post.snippet.thumbnails.high.url}}"></ion-img>
      <ion-card-content>
        <ion-card-title>
          <h4>{{post.snippet.title}}</h4>
        </ion-card-title>
        <ion-button expand="full" color="winners-red" (click)="playVideo(post)">
          <ion-icon slot="start" name="play"></ion-icon>
          Play Video
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
  </div>
</ion-content>
